<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/static/css/toc.css" type="text/css" />
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Total Ownership Cost</title>        
    </head>
    <body>
    <div id="masthead">
      <h1 id="siteName"><a href="http://www.psu.edu" target="blank"><img src="/static/css/images/psushield.jpg" alt="PSU shield" width="130" height="70" border="0"/></a><a href="http://www.arl.psu.edu/" target="blank"><img src="/static/css/images/arltitle.gif" alt="ARL title" width="325" height="63" border="0"/></a></h1>
        <div id="content">
       {% block content %}
       
       {% endblock %} 
       </div>
       <a href="/toc">Home</a>
    </body>
</html>  