<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Information</title>
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/common.css">
    <link rel="stylesheet" media="screen" href="/static/css/info.css">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-9">
                <div>
                    <h3>Troubleshooting</h3>
                    <p>If you experience any problems, refresh the browser window</p>
                    <p>If problems persist, contact the Experimenter through the Help chat channel</p>
                    <p>If you've visited this site before and are experiencing problems, try clearing your browser cache (often Ctrl+F5)</p>
                    <br><br>
                    {% if user.is_authenticated %}
                    <br>
                    {% if state == 1 or state == 7 or state == 8 %}
                    <h3>Problem Brief</h3>
                    {% if session == "Extra" %}
                    <a href="/static/docs/ProblemBreifs/IndStudy/Individual Study_Problem Brief.pdf"
                        target=”_blank”>Individual Problem Brief</a>
                    {% elif session == "A" %}
                    {% if first %}
                    {% if position == 1 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P1TSA/TeamAtoB_Part1_DesignManager.pdf"
                        target="_blank">Design Manager Brief</a>
                    {% elif position == 2 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P1TSA/TeamAtoB_Part1_DesignSpecialist.pdf"
                        target="_blank">Design Specialist Brief</a>
                    {% elif position == 3 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P1TSA/TeamAtoB_Part1_OperationsManager.pdf"
                        target="_blank">Operations Manager Brief</a>
                    {% elif position == 4 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P1TSA/TeamAtoB_Part1_OperationsSpecialist.pdf"
                        target="_blank">Operations Specialist Brief</a>
                    {% else %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P1TSA/TeamAtoB_Part1_BusinessManager.pdf"
                        target="_blank">Business Manager Brief</a>
                    {% endif %}
                    {% else %}
                    {% if position == 1 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P2TSB2A/TeamBtoA_Part2_DesignManager.pdf"
                        target="_blank">Design Manager Brief</a>
                    {% elif position == 2 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P2TSB2A/TeamBtoA_Part2_DesignSpecialist.pdf"
                        target="_blank">Design Specialist Brief</a>
                    {% elif position == 3 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P2TSB2A/TeamBtoA_Part2_OperationsManager.pdf"
                        target="_blank">Operations Manager Brief</a>
                    {% elif position == 4 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P2TSB2A/TeamBtoA_Part2_OperationsSpecialist.pdf"
                        target="_blank">Operations Specialist Brief</a>
                    {% else %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P2TSB2A/TeamBtoA_Part2_BusinessManager.pdf"
                        target="_blank">Business Manager Brief</a>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    {% if first %}
                    {% if position == 2 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P1TSB/TeamBtoA_Part1_DesignSpecialist.pdf"
                        target="_blank">Design Specialist Brief</a>
                    {% elif position == 3 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P1TSB/TeamBtoA_Part1_OperationsManager.pdf"
                        target="_blank">Operations Manager Brief</a>
                    {% elif position == 4 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P1TSB/TeamBtoA_Part1_OperationsSpecialist.pdf"
                        target="_blank">Operations Specialist Brief</a>
                    {% else %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TBA/P1TSB/TeamBtoA_Part1_BusinessManager.pdf"
                        target="_blank">Business Manager Brief</a>
                    {% endif %}
                    {% else %}
                    {% if position == 2 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P2TSA2B/TeamAtoB_Part2_DesignSpecialist.pdf"
                        target="_blank">Design Specialist Brief</a>
                    {% elif position == 3 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P2TSA2B/TeamAtoB_Part2_OperationsManager.pdf"
                        target="_blank">Operations Manager Brief</a>
                    {% elif position == 4 %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P2TSA2B/TeamAtoB_Part2_OperationsSpecialist.pdf"
                        target="_blank">Operations Specialist Brief</a>
                    {% else %}
                    <a href="/static/docs/ProblemBreifs/TeamStudy/TAB/P2TSA2B/TeamAtoB_Part2_BusinessManager.pdf"
                        target="_blank">Business Manager Brief</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <br><br>
                    <h3>Tutorials</h3>
                    {% if is_team %}
                    <a href="/static/docs/chat_tutorial.pdf" target="_blank">Chat Tutorial</a>
                    {% else %}
                    <a href="/static/docs/chat_tutorial_individual.pdf" target="_blank">Chat Tutorial</a>
                    {% endif %}
                    <br>
                    {% if state == 1 or state == 7 or state == 8 %}
                    {% if role.name == "Designer" %}
                    {% if session_ai %}
                    {% if is_team %}
                    <a href="/static/docs/designer-tutorial.pdf" target="_blank">Designer Tutorial</a><br><br>
                    {% else %}
                    <a href="/static/docs/designer-tutorial_individual.pdf" target="_blank">Designer Tutorial</a><br><br>
                    {% endif %}
                    {% else %}
                    {% if is_team %}
                    <a href="/static/docs/designer-tutorial_noAI.pdf" target="_blank">Designer Tutorial</a><br><br>
                    {% else %}
                    <a href="/static/docs/designer-tutorial_individual_noAI.pdf" target="_blank">Designer Tutorial</a><br><br>
                    {% endif %}
                    {% endif %}
                    {% elif role.name == "OpsPlanner" %}
                    {% if session_ai %}
                    <a href="/static/docs/ops-tutorial.pdf" target="_blank">Operations Planner Tutorial</a><br><br>
                    {% else %}
                    <a href="/static/docs/ops-tutorial_noAI.pdf" target="_blank">Operations Planner Tutorial</a><br><br>
                    {% endif %}
                    {% elif role.name == "Business" %}
                    <a href="/static/docs/business-tutorial.pdf" target="_blank">Business Tutorial</a><br>
                    {% endif %}
                    <br>
                    {% endif %}
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script type='application/javascript' src="/static/js/jquery-3.4.1.min.js"></script>
</body>

</html>