<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Information</title>
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/common.css">
    <link rel="stylesheet" media="screen" href="/static/css/info.css">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-9">
                <div>
                    <h3>Troubleshooting</h3>
                    <p>If you experience any problems, refresh the browser window</p>
                    <p>If problems persist, contact the Experimenter through the Help chat channel</p>
                    <p>If you've visited this site before and are experiencing problems, try clearing your browser cache (often Ctrl+F5)</p>
                    <br><br>
                    {% if user.is_authenticated %}
        {% if state == 1 or state == 7 %}
          {% if brief_links %}
            <h2>Problem Brief</h2>
            {% for brief_link in brief_links %}
            <a href="{{brief_link.link}}" target="_blank">{{brief_link.text}}</a><br>
            {% endfor %}
            <br>
            <br>
          {% endif %}
          {% endif %}
          {% if tutorial_links %}
            <h2>Tutorials</h2>
            {% for tutorial_link in tutorial_links %}
            <a href="{{tutorial_link.link}}" target="_blank">{{tutorial_link.text}}</a><br>
            {% endfor %}
            <br>
            <br>
          {% endif %}

                    <br>
                    
                    {% endif %}                    
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script type='application/javascript' src="/static/js/jquery-3.4.1.min.js"></script>
</body>

</html>