<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Post-Session</title>
    {% if redir %}
    <meta http-equiv="Refresh" content="0; url={{redir}}" />
    {% endif %}
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/common.css">
    <link rel="stylesheet" media="screen" href="/static/css/info.css">
</head>

<body>
    {% if not redir %}
    <div class="container-fluid h-100">
        <div class="row fullheight">
            <div class="col-8">
                <div>
                    {% if user.is_authenticated %}
                    
                    {% if survey_links or form_links %}
            {% if survey_links %}
              <h2>Surveys</h2>
              {% for survey_link in survey_links %}
              <a href="{{survey_link.link}}" target="_blank">{{survey_link.text}}</a><br>
              {% endfor %}
              <br>
              <br>
            {% endif %}

            {% if form_links %}
              <h2>Forms</h2>
              {% for form_link in form_links %}
              <a href="{{form_link.link}}" target="_blank">{{form_link.text}}</a><br>
              {% endfor %}
              <br>
              <br>
            {% endif %}

            <p>Please check here when any surveys and forms are complete: </p><input class="user-check" type="checkbox" id="pre-user-complete">
            <label for="pre-user-complete">Complete</label>
            <br>
            <br>
          {% endif %}

          {% if brief_links %}
            <h2>Problem Brief</h2>
            {% for brief_link in brief_links %}
            <a href="{{brief_link.link}}" target="_blank">{{brief_link.text}}</a><br>
            {% endfor %}
            <br>
            <br>
          {% endif %}

          {% if tutorial_links %}
            <h2>Tutorials</h2>
            {% for tutorial_link in tutorial_links %}
            <a href="{{tutorial_link.link}}" target="_blank">{{tutorial_link.text}}</a><br>
            {% endfor %}
            <br>
            <br>
          {% endif %}

                    {% if last %}
                    <p>You will be automatically logged out shortly. Thank you for playing</p><br>
                    {% endif %}
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">login</a>
                    {% endif %}                    
                </div>
            </div>
            <div class="col-4">
                <div style="flex-grow: 1; display: flex; min-height: 0; flex-direction: column; height: 100%;">
                    <iframe style="height: 100%; border: none" src='/chat/'></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type='application/javascript' src="/static/js/jquery-3.4.1.min.js"></script>
    <script type='application/javascript' src="/static/js/session.js"></script>
    {% endif %}
</body>

</html>