<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Setup</title>
        {% if redir %}
        <meta http-equiv="Refresh" content="0; url={{redir}}" />
        {% endif %}
        <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/static/css/common.css">
        <link rel="stylesheet" media="screen" href="/static/css/info.css">
        <script src="/static/js/TemplateData/UnityProgress.js"></script>
        <script src="/static/js/Build/UnityLoader.js"></script>
        <script>
            var gameInstance = UnityLoader.instantiate("gameContainer", "/static/js/Build/webgl.json", {onProgress: UnityProgress});
        </script>
    </head>
    <body>    
        {% if not redir %}
        <div class="container-fluid h-100">
            <div class="row fullheight">
                <div class="col-8">
                    <div>
                        <h1>Setup</h1>
                        <br><br>
                        <h2>Tutorials</h2>
                        {% if is_team %}
                        <a href="/static/docs/chat_tutorial.pdf" target="_blank">Chat Tutorial</a>
                        {% else %}
                        <a href="/static/docs/chat_tutorial_individual.pdf" target="_blank">Chat Tutorial</a>
                        {% endif %}
                        <br><br>                        
                    </div>
                </div>
                <div class="col-4">
                    <div style="flex-grow: 1; display: flex; min-height: 0; flex-direction: column; height: 100%;">
                        <iframe style="height: 100%; border: none" src='/chat/'></iframe>
                    </div>
                </div>
            </div>
        </div>
        <script type='application/javascript' src="/static/js/jquery-3.4.1.min.js"></script>  
        {% endif %}
    </body>
</html>