<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>User Information</title>
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/info.css{{BUST}}">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-2">Username</div>
            <div class="col-2">Password</div>
        </div>
        {% for key, value in user_info.items %}
        <div class="row border">
            <div class="col-2">{{key}}</div>
            <div class="col-2">{{value}}</div>
        </div>
        {% endfor %}
    </div>
    <script type='application/javascript' src="/static/js/jquery-3.4.1.min.js"></script>
</body>

</html>