* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.outerer-container {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.outer-container {
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.channel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    min-height: 0;
    flex-direction: column;
    overflow: hidden;
}

.channel {
    display: flex;
    flex-direction: column;
    min-height: 26px;
    flex-grow: 0;
}

.channel-100 {
    height: 100%;
}

.label-container {
    display: flex;
    flex-direction: row;
    min-height: 26px;
    min-width: 100%;
    overflow: hidden;
}

.is-online {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 24px;
    text-align: center;
}

.is-online-yes {
    background-color: #00FF7F;
}

.is-complete {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 24px;
    text-align: center;
    background-color: red;
}

.is-complete-yes {
    background-color: #00FF7F;
}

.channel-label {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 24px;
    text-align: center;
    flex: 1;
}

.channel-label-default {
    background-color: #D3D3D3;
}

.channel-label-active {
    background-color: #4682B4;
    color: white;
}

.channel-label-new-messages {
    background-color: #BC8F8F;
    animation: new-pulse 5s infinite;
}

@keyframes new-pulse {
    0% {
        background-color: #BC8F8F;
    }
    50% {
        background-color: #EB7575;
    }
    100% {
        background-color: #BC8F8F;
    }
}

.channel-label-new-priority-messages {
    background-color: #BC8F8F;
    animation: new-priority-pulse 2s infinite;
}

@keyframes new-priority-pulse {
    0% {
        background-color: #BC8F8F;
    }
    50% {
        background-color: #e90606;
    }
    100% {
        background-color: #BC8F8F;
    }
}

.message-list-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 0;
}

.message-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
}

.chat-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-header-row {
    padding: 0;
    margin: 0;
}

.chat-header-col {
    padding: 0;
}

.message-controls {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 5px;
}

.chat-message {
    margin: 0;
    padding: 0;
    min-width: 20px;
}

textarea {
  resize: none;
}

.chat-send {
    margin: 0;
    padding: 0;
    min-width: 20px;
}

.btn {
    background-color: #4682B4;
    min-width: 100%;
    text-align: center;
    color: white;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.running-timer { 
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.bot-col {
    padding: 0;
    height: 12px;
}

.bot-btn {
    background-color: #d69c30;
    min-width: 100%;
    text-align: center;
    color: white;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    height: 10px;
}

.bot-choice-btn {
    background-color: #d69c30;
    min-width: 100%;
    text-align: center;
    color: white;
    border: 1;
    padding-left: 0;
    padding-right: 0;
}